{{template "base" .}}
{{define "content"}}
    <div class="container">
		<div class="row">
			<div class="col-md-4 offset-md-4 mt-5">
				<div class="card">
					<div class="card-body">
						
						<h3 class="text-center text-primary">Edit Profile</h3>
						{{with .Error}}
							<p class="text-center text-danger">{{.}}</p>
						{{end}}
						{{with .Warning}}
							<p class="text-center text-danger">{{.}}</p>
						{{end}}
						{{with .Flash}}
							<p class="text-center text-success">{{.}}</p>
						{{end}}
						<form action="edit-profile" method="post">
							{{$User:= index .Data "User"}}
							<input type="hidden" value="{{$User.ID}}" name="id">
							<div class="form-group mt-4">
								<label for="exampleInputName">Full Name:</label><input
									type="text" class="form-control" id="exampleInputName"
									placeholder="Enter Full Name" required name="fname" value="{{$User.Name}}">
							</div>
							<div class="form-group mt-4">
								<label for="exampleInputPhone">Phone:</label><input
									type="text" class="form-control" id="exampleInputPhone"
									placeholder="Enter Phone number" required name="fphone" value="{{$User.Phone_no}}">
							</div>
							<div class="form-group mt-4">
								<label for="exampleInputEmail">Email Address:</label><input
									type="email" class="form-control" id="exampleInputEmail"
									aria-describeby="emailHelp" placeholder="Enter Email" required name="femail" value="{{$User.Email}}">
							</div>
							<div class="form-group mt-4">
								<label for="exampleInputPassword">Password:</label><input
									type="password" class="form-control" id="exampleInputPassword"
									placeholder="Enter Password" required name="fpassword" >
							</div>
							<div class="d-flex justify-content-center mt-4">
								<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}