{{template "base" .}}
{{define "content"}}
<div class="container p-5">
	<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {{$Email:= index .StringMap "Email"}}
 {{$oldbooks:= index .Data "oldbooks"}}
 {{range $oldbooks}}
  	<tr>
      <th scope="row">{{.BookName}}</th>
      <td>{{.Author}}</td>
      <td>{{.Price}}<i class="fa-solid fa-dollar-sign"></i></td>
      <td>{{.BookCategory}}<td>
      <td><a href="/delete_old_book?email={{$Email}}&bid={{.BookID}}" class="btn btn-sm btn-danger">Delete</a></td>
    </tr>
  {{end}}
  </tbody>
</table>
</div>
{{end}}