    {{template "base" .}}
    {{define "content"}}
        <div class="container text-center mt-5">
	<i class="fas fa check-circle fa-5x text-success"></i>
	<h1>Thank for your order</h1>
	<h5>Your product will be delivered in 7 days</h5>
	<a href="/" class="btn btn-primary mt-3">Home</a>
	<a href="/order" class="btn btn-danger mt-3">View Order</a>
</div>
    {{end}}