    {{template "base" .}}
    {{define "content"}}
<div class="container">
<h3 class="text-center text-primary">Your order</h3>
	<table class="table table-striped mt-5">
  <thead class="table-dark">
    <tr>
      <th scope="col">Order Id</th>
      <th scope="col">Name</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Payment type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{$orderbooks:= index .Data "orderbooks"}}
      {{range $orderbooks}}
      <th scope="row">{{.Orderid}}</th>
      <td>{{.UserName}}</td>
      <td>{{.BookName}}</td>
      <td>{{.Author}}</td>
      <td>{{.Price}}</td>
      <td>{{.PaymentMethod}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
</div>
    {{end}}