{{template "admin" .}}
{{define "content"}}
	<h3 class="text-center p-2">hello Admin</h3>
	<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Order Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Phone No</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Payment method</th>
    </tr>
  </thead>
  <tbody>
 {{$books := index .Data "books"}}
 {{range $books}}
    <tr>
      <th scope="row">{{.Orderid}}</th>
      <td>{{.UserName}}</td>
      <td>{{.Email}}</td>
      <td>{{.FullAddress}}</td>
      <td>{{.Phone_no}}</td>
      <td>{{.BookName}}</td>
  		<td>{{.Author}}</td>
      <td>{{.Price}}</td>
      <td>{{.PaymentMethod}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}