{{template "base" .}}
{{define "content"}}
	<div class="container-fluid">
		<h3 class="text-center mt-2">Recent Book</h3>	
		<div class="row p-3">
				{{$User:= index .Data "User"}}
				{{$recentbooks := index .Data "recentbooks"}}
                {{range $recentbooks}}
				<div class="col-md-3">
				<div class="card crd-ho mt-3">
					<div class="card-body text-center">
						<img alt="" src="static/book/{{.PhotoName}}" style="width:120px;height:170px" class="img-thumblin">
						<p>{{.BookName}} </p>
						<p>{{.Author}} </p>
						{{if eq .BookCategory "Old Book"}}
						<p>Categories: {{.BookCategory}}
						<div class="row">
							<a href="book_detail/{{.BookID}}" class="btn btn-sm btn-success col-md-6 ml-5 ">View Details</a>
							<a href="" class="btn btn-sm btn-danger col-md-6 ml-2 "><i class="fa-solid fa-dollar-sign"></i>{{.Price}}</a>
						</div>
						{{else}}
							<p>Categories: {{.BookCategory}}
						<div class="row text-center">
							{{if $User}}
								<a href="login.jsp" class="btn bnt-sm btn-danger col-md-4 ml-2 ">Add Cart</a>
							{{else}}
								<a href="/cart?bid={{.BookID}}&&uid={{$User.ID}}" class="btn bnt-sm btn-danger col-md-4 ml-2 ">Add Cart</a>
							{{end}}
								<a href="book_detail/{{.BookID}}" class="btn btn-sm btn-success col-md-6 ml-5 ">View Details</a>
							<a href="" class="btn btn-sm btn-danger col-md-4 ml-1 "><i class="fa-solid fa-dollar-sign"></i>{{.Price}}</a>
						</div>
						{{end}}	
					</div>	
			</div>
		</div>
			{{end}}
		</div>
	</div>
{{end}}