    {{template "base" .}}
    {{define "content"}}
        <div class="container">
	<div class="row p-5">
		<div class="col-md-4 offset-md-4 text-center">
			<div class="text-success"><i class="fas fa-phone-square-alt fa-4x"></i></div>
			<h3>24/7 Service</h3>
			<h4>Hotline number</h4>
			<h5>0877212312</h5>
			<a href="index.jsp" class="btn btn-primary">Home</a>
		</div>
	</div>
</div>
    {{end}}